@import "tailwindcss";

@theme {
  --color-mauve-light: #d6c4c6;
  --color-mauve: #ad9698;
  --color-mauve-dark: #8c7476;
  
  --color-paper: #f9f6f6;
  --color-ink: #2d2425;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}